<div class="p-grid p-dir-col">
    <form class="p-col-6 ui-fluid" [formGroup]="packageForm">
        <div class="p-field">
            <label for="name">Primatelj</label>
            <input id="name" type="text" pInputText formControlName="primatelj"> 
        </div>
        <div class="p-field">
            <label for="address">Adresa</label>
            <input id="address" type="text" pInputText formControlName="adresa"> 
        </div>
        <div class="p-field">
            <label for="post">Pošta</label>
            <input id="post" type="text" pInputText formControlName="posta"> 
        </div>
        <div class="p-field">
            <label for="city">Grad</label>
            <input id="city" type="text" pInputText formControlName="grad"> 
        </div>
        <div class="p-field">
            <label for="phone">Telefon</label>
            <input id="phone" type="text" pInputText formControlName="telefon"> 
        </div>
        <div class="p-field">
            <label for="package">Paket</label>
            <input id="package" type="text" pInputText formControlName="paket"> 
        </div>
        <div class="p-field">
            <label for="price">Cijena</label>
            <input id="price" type="text" pInputText formControlName="cijena"> 
        </div>
    
    </form>

    <div class="p-col-6">
        <button class="p-col-2 p-col-align-end ui-button-raised" pButton type="button" label="Spremi" (click)="submit()"></button>
        <button class="p-col-2 p-col-align-end ui-button-raised ui-button-secondary" pButton type="button" label="Odustani" (click)="cancel()"></button>
    </div>

</div>
