<p-tabView>
    <p-tabPanel header="Origin">
       <app-packages-table [packages]="originPackages" [(isLoading)]="originPackagesLoading"
            [packageActions]="originActions">
       </app-packages-table>
    </p-tabPanel>
    
    <p-tabPanel header="Copy">
        <app-packages-table [packages]="copyPackages" [(isLoading)]="copyPackagesLoading"
            [packageActions]="copyActions">
        </app-packages-table>
    </p-tabPanel>
</p-tabView>