<p-table #dt
    [value]="data" [columns]="columns" [loading]="loading"
    [paginator]="true" [rows]="20" [pageLinks]="5" [rowsPerPageOptions]="[20, 50, 100, 1000]"
    [sortMode]="'multiple'"
    [selectionMode]="'multiple'" [rowHover]="true"
    [lazy]="false" [lazyLoadOnInit]="true"
    [responsive]="true" [resizableColumns]="true">

    <ng-template pTemplate="header" let-columns>

        <tr>
            <th pResizableColumn
                [ngStyle]="{ width: 'auto' }"
                *ngFor="let col of columns" 
                [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th pResizableColumn *ngIf="tableActions.length"></th>
        </tr>

        <tr>
            <th pResizableColumn
                [ngStyle]="{ width: 'auto', 'text-align': 'center' }"
                *ngFor="let col of columns">
                <input pInputText class="ui-column-filter" type="text" placeholder="Filter" (input)="dt.filter($event.target.value, col.field, 'contains')">
            </th>
            <th pResizableColumn *ngIf="tableActions.length"></th>
        </tr>
        

    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns"
                pResizableColumn    
                [ngStyle]="{ width: 'auto', 'text-align': 'center' }"
                class="ui-resizable-column">
                {{rowData[col.field]}}
            </td>

            <td pResizableColumn *ngIf="tableActions.length"
                [ngStyle]="{ width: 'auto', 'text-align': 'center' }"
                class="ui-resizable-column">
                <button *ngFor="let action of tableActions"
                    pButton class="ui-button-raised ui-button-secondary" [icon]="'pi pi-' + action.icon"
                    type="button"
                    (click)="onActionItemClicked(rowData, action.command)"
                    [pTooltip]="action.tooltip" tooltipPosition="bottom">
                </button>
            </td>

        </tr>

    </ng-template>

</p-table>